{% extends "base.html" %}
{% block title %}{% endblock %}
{% block content %}

    <h2>Here are all user profiles: </h2>
    <div>
        <ul>
            {% for profile in object_list %}
                <li>{{ profile.first_name }} {{ profile.last_name }} | <a
                        href="{% url 'profile-update' profile.pk %}">edit</a>
                    <a href="{% url 'profile-delete' profile.pk %}">delete</a>
                </li>
            {% empty %}
                <li>No profile yet.</li>
            {% endfor %}

        </ul>
        <p>
            <a href="{% url 'profile-add' %}">add a profile</a>
        </p>
    </div>
{% endblock %}