<html lang="en">
<head>
    <title>{% block title %}My amazing site{% endblock %}</title>
      <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
    integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
    crossorigin="anonymous">
    <link rel='stylesheet' href='//fonts.googleapis.com/css?family=Lobster&subset=latin,latin-ext'  type='text/css'>
</head>

<body>
<div id="content" class="container">
    <div class="md-col-10">
        {% block content %}{% endblock %}
    </div>

</div>
</body>
</html>
